*{
    margin: 0;
    padding: 0;
  }
  
  .bg{
    height: 50vh;
   /* background: url('../laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center; 
     */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
  }
 .bg .overlay 
{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100%;
  top: 0%;
  color: blue;
  font-size: 2.0em;
/*  background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1;
}
.bg .overlay p
{
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
 color: white;
  font-size: 0.7em;
  width: 50%;
  height: 50%;
  top:20%;
  margin-left: 0%;
}


header {
    height: 100vh;
    width:100vw;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(0, 0, 0, 0.7)), url('../laptop.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
 
    
}
/*
nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
 /*  backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(227, 228, 237, 0.37); 
    /*border: 1px solid #ffffff6a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    z-index: 5;
}
*/
 nav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
 backdrop-filter: blur(12px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    width: 100vw;
    z-index: 3;
    /*background:white;*/
    box-shadow: 0px 0px 20px rgba(227, 22  8, 237, 0.37); 
    border: 1px solid #ffffff6a;
  }
  
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
  }
  nav a:hover{
    background-color: white;
    /*background-color: #f0f0f0;*/
    color:black;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position:absolute;
    top: 10%; 
    right: 0;
    height: 50vh;
    width: 25%;
   background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    z-index: 2;
  }
  .sidebar li{
    width: 100%;
    text-align: right;                                  
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
    .bg .overlay p
    {
      top: 28%;
      width: 70%;
      margin-left: 10%;
      font-size: 0.4em;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 30%;
    }
  }
